<!DOCTYPE html>
<html>
<head>
    <title>Agregar Respuesta</title>
</head>
<body>
    <h2><center>Agregar Nueva Respuesta</center></h2>
    <form method="POST">
        <label>Pregunta:</label>
        <input type="text" name="pregunta" required>
        <br>
        <label>Respuesta:</label>
        <input type="text" name="respuesta" required>
        <br>
        <button type="submit">Guardar</button>
    </form>
    <form>
    <p>{{ mensaje }}</p>
    <a href="/Jóvenes"><button type="submit">Volver al chat</button></a>
    </form>
</body>
</html>
