<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección de Mayores</title>
    <style>
        .botones {
             display: flex;
             justify-content: center;
             gap: 20px;
             margin-top: 20px;
        }
        .chat-input-container {
             margin-top: 20px;
             display: flex;
             justify-content: center;
             align-items: center;
        }
        body {
             background-color: #EDEDED;
        }
   </style>
</head>
<body>
    <h1><center>¡Bienvenid@ a la Sección de Mayores!</center></h1>
    <div class="chat-input-container">
        <input type="text" class="chat-input" id="chat-input" placeholder="Escribe tu mensaje..." enabled />
        <button class="chat-button" enabled>Enviar</button>
    </div>
    <br>   
    <div class="botones">
    <a href="/" method="GET">
        <button>Volver al inicio</button>
    </div>
</body>
</html>
